<header class="header--main" role="banner">

  <div class="header--main-wrap">

    <a href="01.home.html">
      <div class="logo">
        <img src="assets/images/logo-captain-boat.svg" alt="Captain Boat">
        <span class="site--name">Capt'n Boat</span>
      </div>
    </a>

    <nav class="nav--main" role="navigation">
      <ul>
        <li><a href="#">Connexion</a></li>
        <li>

          <div class="input--field select select--simple-blue">
            <label for="select-lang" class="sr-only">Langue</label>
            <select id="select-lang" name="select-lang" class="choices">
              <option value="1">FR</option>
              <option value="2">EN</option>
              <option value="3">ES</option>
            </select>

          </div>

        </li>
      </ul>
    </nav>

  </div>

</header>
