<footer class="footer--main" role="contentinfo">

  <div class="footer--logo-wrap">
    <div class="logo">
      <img src="assets/images/logo-captain-boat.svg" alt="Captain Boat">
      <span class="site--name">Capt'n Boat</span>
    </div>
  </div>

  <div class="footer--row">
    <div class="footer--column sitemap">
      <div class="footer--column-section">
        <span class="footer--column-title">Plan du site</span>

        <ul>
          <li><a href="#">Les annonces</a></li>
          <li><a href="#">Les skippers</a></li>
          <li><a href="#">Comment ça marche</a></li>
          <li><a href="#">Nos partenaires</a></li>
          <li><a href="#">Assurance</a></li>
          <li><a href="#">Presse</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="footer--column">
      <div class="footer--column-section">
        <span class="footer--column-title">Rejoignez l'équipage</span>
        <ul class="list--networks">
          <li class="list--networks-item"><a href="#" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a></li>
          <li class="list--networks-item"><a href="#" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
          <li class="list--networks-item"><a href="#" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
          <li class="list--networks-item"><a href="#" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        </ul>
      </div>
      <div class="footer--column-section">
        <span class="footer--column-title">Newsletter</span>
        <p>Inscrivez-vous à la newsletter pour ne rien rater de l’actualité Capt’n Boat !</p>

        <form method="" action="" class="form--newsletter">
          <div class="input--field newsletter ">
            <label for="newsletter" class="sr-only">Abonnez-vous à la newsletter</label>
            <input id="newsletter" name="newsletter" type="email" placeholder="votre adresse e-mail..." value="">

          </div>
          <button class="button" type="submit">
            <svg class="icon icon-send"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-send"></use></svg>
            <span class="button--label">S'abonner à la newsletter</span>
          </button>
        </form>

      </div>
    </div>
    <div class="footer--column">

      <div class="footer--column-section">

        <span class="footer--column-title">Téléchargez l'application</span>

        <div class="block--app">
          <div class="block--app-icon">
            <img src="assets/images/icon--app.png" alt="Téléchargez l'application Capt'n Boat sur smartphone">
          </div>
          <div class="block--app-desc">
            <p>L’application Capt’n Boat est disponible sur Android et iOS</p>
          </div>
        </div>

        <div class="block--appstores">
          <div class="block--appstores-icon">
            <img src="assets/images/icon--googleplay.png" alt="Google Play">
          </div>
          <div class="block--appstores-icon">
            <img src="assets/images/icon--appstore.png" alt="appStore">
          </div>
        </div>

      </div>

      <div class="footer--column-section">
        <span class="footer--column-title">Capt’n Boat</span>
        <p>52 rue Truffaut<br> 75 017 Paris<br>
          <br>
          <a class="footer--email" href="mailto:contact@captnboat.com" target="_blank">contact@captnboat.com</a></p>
      </div>

    </div>
  </div>

  <div class="footer--row credits">
    <div class="footer--column">
      <ul class="list--h">
        <li><a href="#">Conditions générales</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
      </ul>
    </div>
    <div class="footer--column">
      &copy; 2019 Capt’n Boat V0.2
    </div>
  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scripts.min.js"></script>

