<app-symbols></app-symbols>
<app-header></app-header>
<main id="search-results" role="main">

  <div class="search--horizontal">
    <div class="search--horizontal-wrap">
      <form class="form--search-horizontal">
        <div class="form--search-toggle">
          <ul class="form--search-block__wrap">
            <li>
              <button type="button" class="btn--search-toggle active">
                <svg class="icon icon-skipper"><use xlink:href="#icon-skipper"></use></svg>
                <span class="button--label">Je suis <strong>un skipper</strong></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn--search-toggle" data-search-tab="proprietaire">
                <svg class="icon icon-proprietaire"><use xlink:href="#icon-proprietaire"></use></svg>
                <span class="button--label">Je recherche <strong>un skipper</strong></span>
              </button>
            </li>
          </ul>

          <input type="hidden" name="type" value="skipper">
        </div>
        <div class="form--search-filters">

          <div class="search--special-input mission">
            <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
            <div class="search--special-input__wrap">
              <label class="search--special-input__label">Je recherche</label>
              <div class="search--special-input__field">

              </div>
            </div>
          </div>

          <div class="search--special-input location">
            <svg class="icon icon-compass"><use xlink:href="#icon-compass"></use></svg>
            <div class="search--special-input__wrap">
              <label class="search--special-input__label">Où</label>
              <div class="search--special-input__field">

              </div>
            </div>
          </div>

          <div class="search--special-input date">
            <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
            <div class="search--special-input__wrap">
              <label class="search--special-input__label">Quand ?</label>
              <div class="search--special-input__field">
              </div>
            </div>
          </div>

        </div>
        <div class="form--search-submit">
          <button class="button" type="submit">
            <svg class="icon icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
            <span class="button--label">Chercher une mission</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <section class="results--boats">

    <div class="results--boats-count">
      5 résultats correspondent à votre recherche
    </div>

    <div class="results--boats-wrap">

      <div class="block--boat">
        <div class="block--boat-summary">
          <div class="block--boat-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcqQdW6ZFqeptWDePPEGEg--yra6U_bpoxEuNXl-MgeNfLwOD1tA" alt=" - Bateau Capt'n Boat">
          </div>
          <div class="block--boat-infos">
            <div class="block--boat-infos__mission">
              <div class="block--boat-infos__category">
                <p>Multicoques</p>
                <p>Particulier</p>
              </div>
              <div class="block--boat-fee">
                756€
              </div>
            </div>
            <ul class="list--tags">
              <li><span>Convoyage</span></li>
            </ul>
          </div>
        </div>
        <div class="block--boat-journey">
          <div>
            <strong>Port de départ :</strong> Brest
          </div>
          <div>
            <strong>Port d'arrivée :</strong> Lorient
          </div>
        </div>
        <div class="block--boat-cta">

          <a class="button button--bluegreen" href="#">

            <svg class="icon icon-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use></svg>

            <span class="button--label">plus de détail</span>
          </a>

        </div>
      </div>

      <div class="block--boat">
        <div class="block--boat-summary">
          <div class="block--boat-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcqQdW6ZFqeptWDePPEGEg--yra6U_bpoxEuNXl-MgeNfLwOD1tA" alt=" - Bateau Capt'n Boat">
          </div>
          <div class="block--boat-infos">
            <div class="block--boat-infos__mission">
              <div class="block--boat-infos__category">
                <p>Multicoques</p>
                <p>Particulier</p>
              </div>
              <div class="block--boat-fee">
                756€
              </div>
            </div>
            <ul class="list--tags">
              <li><span>Convoyage</span></li>
            </ul>
          </div>
        </div>
        <div class="block--boat-journey">
          <div>
            <strong>Port de départ :</strong> Brest
          </div>
          <div>
            <strong>Port d'arrivée :</strong> Lorient
          </div>
        </div>
        <div class="block--boat-cta">

          <a class="button button--bluegreen" href="#">

            <svg class="icon icon-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use></svg>

            <span class="button--label">plus de détail</span>
          </a>

        </div>
      </div>

      <div class="block--boat">
        <div class="block--boat-summary">
          <div class="block--boat-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcqQdW6ZFqeptWDePPEGEg--yra6U_bpoxEuNXl-MgeNfLwOD1tA" alt=" - Bateau Capt'n Boat">
          </div>
          <div class="block--boat-infos">
            <div class="block--boat-infos__mission">
              <div class="block--boat-infos__category">
                <p>Multicoques</p>
                <p>Particulier</p>
              </div>
              <div class="block--boat-fee">
                756€
              </div>
            </div>
            <ul class="list--tags">
              <li><span>Convoyage</span></li>
            </ul>
          </div>
        </div>
        <div class="block--boat-journey">
          <div>
            <strong>Port de départ :</strong> Brest
          </div>
          <div>
            <strong>Port d'arrivée :</strong> Lorient
          </div>
        </div>
        <div class="block--boat-cta">

          <a class="button button--bluegreen" href="#">

            <svg class="icon icon-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use></svg>

            <span class="button--label">plus de détail</span>
          </a>

        </div>
      </div>

      <div class="block--boat">
        <div class="block--boat-summary">
          <div class="block--boat-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcqQdW6ZFqeptWDePPEGEg--yra6U_bpoxEuNXl-MgeNfLwOD1tA" alt=" - Bateau Capt'n Boat">
          </div>
          <div class="block--boat-infos">
            <div class="block--boat-infos__mission">
              <div class="block--boat-infos__category">
                <p>Multicoques</p>
                <p>Particulier</p>
              </div>
              <div class="block--boat-fee">
                756€
              </div>
            </div>
            <ul class="list--tags">
              <li><span>Convoyage</span></li>
            </ul>
          </div>
        </div>
        <div class="block--boat-journey">
          <div>
            <strong>Port de départ :</strong> Brest
          </div>
          <div>
            <strong>Port d'arrivée :</strong> Lorient
          </div>
        </div>
        <div class="block--boat-cta">

          <a class="button button--bluegreen" href="#">

            <svg class="icon icon-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use></svg>

            <span class="button--label">plus de détail</span>
          </a>

        </div>
      </div>

      <div class="block--boat">
        <div class="block--boat-summary">
          <div class="block--boat-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcqQdW6ZFqeptWDePPEGEg--yra6U_bpoxEuNXl-MgeNfLwOD1tA" alt=" - Bateau Capt'n Boat">
          </div>
          <div class="block--boat-infos">
            <div class="block--boat-infos__mission">
              <div class="block--boat-infos__category">
                <p>Multicoques</p>
                <p>Particulier</p>
              </div>
              <div class="block--boat-fee">
                756€
              </div>
            </div>
            <ul class="list--tags">
              <li><span>Convoyage</span></li>
            </ul>
          </div>
        </div>
        <div class="block--boat-journey">
          <div>
            <strong>Port de départ :</strong> Brest
          </div>
          <div>
            <strong>Port d'arrivée :</strong> Lorient
          </div>
        </div>
        <div class="block--boat-cta">

          <a class="button button--bluegreen" href="#">

            <svg class="icon icon-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use></svg>

            <span class="button--label">plus de détail</span>
          </a>

        </div>
      </div>

      <div class="block--boat">
        <div class="block--boat-summary">
          <div class="block--boat-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcqQdW6ZFqeptWDePPEGEg--yra6U_bpoxEuNXl-MgeNfLwOD1tA" alt=" - Bateau Capt'n Boat">
          </div>
          <div class="block--boat-infos">
            <div class="block--boat-infos__mission">
              <div class="block--boat-infos__category">
                <p>Multicoques</p>
                <p>Particulier</p>
              </div>
              <div class="block--boat-fee">
                756€
              </div>
            </div>
            <ul class="list--tags">
              <li><span>Convoyage</span></li>
            </ul>
          </div>
        </div>
        <div class="block--boat-journey">
          <div>
            <strong>Port de départ :</strong> Brest
          </div>
          <div>
            <strong>Port d'arrivée :</strong> Lorient
          </div>
        </div>
        <div class="block--boat-cta">

          <a class="button button--bluegreen" href="#">

            <svg class="icon icon-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus"></use></svg>

            <span class="button--label">plus de détail</span>
          </a>

        </div>
      </div>

    </div>

  </section>

</main>

<app-footer></app-footer>
