

<app-symbols></app-symbols>

<section class="home--search">

    <div class="home--search-content">

      <div class="home--search-intro">
        <h1 class="site--title">Capt’n Boat</h1>
        <strong>la plateforme des skippers diplômés et assurés</strong>
      </div>

      <div class="home--search-advanced">

        <div class="home--search-tabs">

          <ul>
            <li>
              <button type="button" class="btn--search-advanced active" data-search-tab="skipper">
                <svg class="icon icon-skipper"><use xlink:href="#icon-skipper"></use></svg>
                <span class="button--label">Je suis un skipper</span>
              </button>
            </li>
            <li>
              <button type="button" class="btn--search-advanced" data-search-tab="proprietaire">
                <svg class="icon icon-proprietaire"><use xlink:href="#icon-proprietaire"></use></svg>
                <span class="button--label">Je recherche un skipper</span>
              </button>
            </li>
          </ul>

        </div>

        <div class="home--search-fields">

          <div class="home--search-form active" data-search-form="skipper">

            <div class="form--search-filters">

              <div class="search--special-input mission">
                <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
                <div class="search--special-input__wrap">
                  <label class="search--special-input__label">Je recherche</label>
                  <div class="search--special-input__field">
                    <!--{Input}-->
                  </div>
                </div>
              </div>

              <div class="search--special-input location">
                <svg class="icon icon-compass"><use xlink:href="#icon-compass"></use></svg>
                <div class="search--special-input__wrap">
                  <label class="search--special-input__label">Où</label>
                  <div class="search--special-input__field">
                    <!--{Input}-->
                  </div>
                </div>
              </div>

              <div class="search--special-input date">
                <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                <div class="search--special-input__wrap">
                  <label class="search--special-input__label">Quand ?</label>
                  <div class="search--special-input__field">
                    <!--{Input}-->
                  </div>
                </div>
              </div>

            </div>

            <div class="form--search-submit">
              <button class="button" type="submit">
                <svg class="icon icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
                <span class="button--label">Chercher une mission</span>
              </button>
            </div>

          </div>

          <div class="home--search-form" data-search-form="proprietaire">

            <div class="form--search-filters">

              <div class="search--special-input mission">
                <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
                <div class="search--special-input__wrap">
                  <label class="search--special-input__label">Je recherche</label>
                  <div class="search--special-input__field">
                    <!--   {Input}-->
                     </div>
                   </div>
                 </div>

                 <div class="search--special-input location">
                   <svg class="icon icon-compass"><use xlink:href="#icon-compass"></use></svg>
                   <div class="search--special-input__wrap">
                     <label class="search--special-input__label">Où</label>
                     <div class="search--special-input__field">
                       <!--{Input}-->
                     </div>
                   </div>
                 </div>

                 <div class="search--special-input date">
                   <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                   <div class="search--special-input__wrap">
                     <label class="search--special-input__label">Quand ?</label>
                     <div class="search--special-input__field">
                       <!-- {Input} -->
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form--search-submit">
                  <button class="button" type="submit">
                    <svg class="icon icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
                    <span class="button--label">Chercher un skipper</span>
                  </button>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="home--search-cover">

          <picture>

            <source srcset="assets/images/SAIL-BREAK_Sicile_Panarea.jpg" media="" />

            <source srcset="assets/images/SAIL-BREAK_Sicile_Panarea.jpg" media="" />

            <img src="assets/images/SAIL-BREAK_Sicile_Panarea.jpg" alt="A sample alt. text">
          </picture>

        </div>

      </section>

      <section class="home--concept">

        <h2>Comment fonctionne la plateforme</h2>

        <div class="home--concept-blocks">

          <div class="home--concept-block">
            <div class="home--concept-icon">
              <span class="home--concept-count">1</span>
              <img src="assets/images/icon-01.svg" alt="">
            </div>
            <div class="home--concept-excerpt">
              <p>Le skipper renseigne ses disponibilités et ses zones géographiques.</p>
            </div>
          </div>

          <div class="home--concept-block">
            <div class="home--concept-icon">
              <span class="home--concept-count">2</span>
              <img src="assets/images/icon-02.svg" alt="">
            </div>
            <div class="home--concept-excerpt">
              <p>Le demandeur inscrit son bateau et créé une annonce.</p>
            </div>
          </div>

          <div class="home--concept-block">
            <div class="home--concept-icon">
              <span class="home--concept-count">3</span>
              <img src="assets/images/icon-03.svg" alt="">
            </div>
            <div class="home--concept-excerpt">
              <p>Un processus de matching permet la mise en relation entre skipper et demandeur.</p>
            </div>
          </div>

          <div class="home--concept-block">
            <div class="home--concept-icon">
              <span class="home--concept-count">4</span>
              <img src="assets/images/icon-04.svg" alt="">
            </div>
            <div class="home--concept-excerpt">
              <p>Le paiement qui inclut l’assurance est effectué de manière sécurisé.</p>
            </div>
          </div>

        </div>

        <div class="home--concept-cta">

          <a class="button button--trsp" href="#">

            <svg class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg>

            <span class="button--label">En savoir plus</span>
          </a>

        </div>

      </section>

      <section class="section--skipper">

        <h2 class="section--edito-title skipper">Je suis Skipper</h2>

        <div class="section--edito-wrap">

          <div class="section--edito-image">
            <img src="assets/images/img-skipper.jpg" alt="">
          </div>

          <div class="section--edito-content">

            <h3 class="section--subtitle">Trouvez facilement des missions de convoyage</h3>

            <ul class="list--check">
              <li>Une <strong>professionnalisation</strong> de vos prestations</li>
              <li>Le label « capt’n boat approved » atteste de votre professionnalisme</li>
              <li>L’accès à des <strong>assurances complémentaires</strong> négociées et adaptées</li>
              <li>Une nouvelle source d’affaires</li>
              <li>Une diversification des employeurs et des missions (auprès de professionnels du nautisme et/ou de particuliers)</li>
              <li>Une organisation et optimisation de votre planning</li>
              <li>Le rappel automatique des renouvellements de formations à effectuer</li>
              <li>Un <strong>résumé comptable</strong> disponible en temps réel pour simplifier vos déclarations fiscales.</li>
            </ul>

            <a class="button btn--edito" href="#">

              <svg class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg>

              <span class="button--label">Je m&#39;inscris</span>
            </a>

          </div>

        </div>

      </section>

      <section class="section--proprietaire">

        <h2 class="section--edito-title proprietaire">Je suis propriétaire</h2>

        <div class="section--edito-wrap">

          <div class="section--edito-image">
            <img src="assets/images/img-proprietaire.jpg" alt="">
          </div>

          <div class="section--edito-content">

            <h3 class="section--subtitle">Faites convoyer votre bateau par un skipper professionnel avec une assurance sur-mesure</h3>

            <ul class="list--check">
              <li>Un <strong>large choix</strong> de profils parmi un pool élargi de skippers</li>
              <li>L'assurance d'un <strong>professionnel qualifié</strong> (vérification systématique des diplômes et formations)</li>
              <li>Une <strong>assurance du bateau et du skipper</strong> sur les prestations réalisées par l'intermédiaire de la plateforme (avec possibilité de prendre des assurances complémentaires tel un rachat de franchise ou une perte de jouissance ou d'exploitation)</li>
              <li>Des <strong>avis et notations</strong> pour aiguiller votre choix</li>
              <li>La prise en charge de la <strong>gestion financière</strong> (la plateforme gère les transactions avec les skippers)</li>
            </ul>

            <a class="button btn--edito" href="#">Je m'inscris</a>

          </div>

        </div>

      </section>

      <section class="section--reassurance">

        <div class="section--reassurance-wrap">

          <div class="section--reglementation">

            <div class="section--reglementation-content">

              <h2>Assurance et règlementation</h2>

              <h3 class="section--subtitle">Assurance</h3>

              <p>Les assurances responsabilité civile pro individuelles sont contraignantes : annuelles, peu couvrantes, et chères. Un contrat global négocié entre Capt’n boat et un assureur de premier plan permet de couvrir l’ensemble des prestations réalisées
                en offrant des garanties plus importantes que pour un contrat d’assurance individuel.</p>

              <h3 class="section--subtitle">Réglementation</h3>

              <p>Le cabinet d’avocat international Ince&co, spécialisé en droit maritime et associé de Capt’n boat, assure le respect de la règlementation et la prise en charge de tous les sujets juridiques, dont l’assistance et le conseil. Ce cabinet d’avocats
                est considéré comme un acteur incontournable du droit maritime et des transports, du droit des assurances et du droit douanier en France.</p>

            </div>

            <div class="section--reglementation-images">

              <img src="assets/images/img-reinsurance-01.jpg" alt="">
              <img src="assets/images/img-reinsurance-02.jpg" alt="">

            </div>

          </div>

          <div class="section--partenaires">

            <h2>Nos soutiens et partenaires</h2>

            <div class="section--partenaires-blocks">

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-01.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-02.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-03.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-04.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-05.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-01.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-02.png" alt="">
              </div>

              <div class="section--partenaires-block">
                <img src="assets/images/uploads/partners/logo-03.png" alt="">
              </div>

            </div>

          </div>

        </div>

      </section>

      <section class="section--testimonials">

        <div class="section--testimonials-wrap">

          <div class="section--testimonials-block__slider">

            <div class="block--testimonials">
              <h2 class="block--testimonials-title">Ils nous font confiance</h2>

              <div class="block--testimonials-slider">
                <div>

                  <div class="block--testimonial">
                    <div class="block--testimonial-content">
                      Cette plateforme me permet de réaliser des prestations sans me soucier de savoir si mon diplôme me permet légalement de réaliser la prestation et m&#39;évite d&#39;avoir recours à une assurance RC pro, chère et inadaptée à mon besoin.
                    </div>
                    <div class="block--testimonial-author">
                      <strong>Émeric</strong>, skipper
                    </div>
                    <div class="block--testimonial-thumb">
                      <img src="https://pbs.twimg.com/profile_images/1078471113397555200/ro5vaMFW.jpg" alt="Émeric - Utilisateur Capt'n Boat">
                    </div>
                  </div>

                </div>
                <div>
                  <div class="block--testimonial">
                    <div class="block--testimonial-content">
                      Cette plateforme me permet de réaliser des prestations sans me soucier de savoir si mon diplôme me permet légalement de réaliser la prestation et m&#39;évite d&#39;avoir recours à une assurance RC pro, chère et inadaptée à mon besoin.
                    </div>
                    <div class="block--testimonial-author">
                      <strong>Émeric</strong>, skipper
                    </div>
                    <div class="block--testimonial-thumb">
                      <img src="https://pbs.twimg.com/profile_images/1078471113397555200/ro5vaMFW.jpg" alt="Émeric - Utilisateur Capt'n Boat">
                    </div>
                  </div>

                </div>
                <div>

                  <div class="block--testimonial">
                    <div class="block--testimonial-content">
                      Cette plateforme me permet de réaliser des prestations sans me soucier de savoir si mon diplôme me permet légalement de réaliser la prestation et m&#39;évite d&#39;avoir recours à une assurance RC pro, chère et inadaptée à mon besoin.
                    </div>
                    <div class="block--testimonial-author">
                      <strong>Émeric</strong>, skipper
                    </div>
                    <div class="block--testimonial-thumb">
                      <img src="https://pbs.twimg.com/profile_images/1078471113397555200/ro5vaMFW.jpg" alt="Émeric - Utilisateur Capt'n Boat">
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

          <div class="section--testimonials-block__image">

            <picture>

              <source srcset="assets/images/img-testimonials@2x.jpg" media="(min-width: 376px)" />

              <source srcset="assets/images/img-testimonials.jpg" media="(max-width: 375px)" />

              <img src="assets/images/img-testimonials.jpg" alt="">
            </picture>

          </div>

        </div>

      </section>


