/**************************************************
// ██████╗ ██████╗ ███████╗ █████╗ ██╗  ██╗██████╗  ██████╗ ██╗███╗   ██╗████████╗███████╗
// ██╔══██╗██╔══██╗██╔════╝██╔══██╗██║ ██╔╝██╔══██╗██╔═══██╗██║████╗  ██║╚══██╔══╝██╔════╝
// ██████╔╝██████╔╝█████╗  ███████║█████╔╝ ██████╔╝██║   ██║██║██╔██╗ ██║   ██║   ███████╗
// ██╔══██╗██╔══██╗██╔══╝  ██╔══██║██╔═██╗ ██╔═══╝ ██║   ██║██║██║╚██╗██║   ██║   ╚════██║
// ██████╔╝██║  ██║███████╗██║  ██║██║  ██╗██║     ╚██████╔╝██║██║ ╚████║   ██║   ███████║
// ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝      ╚═════╝ ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
// 1. Custom Breakpoints rules
**************************************************/
$desktop-lg: 1680px;
$desktop: 1440px;
$desktop-sm: 1280px;
$tablet: 1024px;
$tablet-sm: 768px;
$tablet-xs: 600px;
$mobile-lg: 480px;
$mobile: 375px;
$mobile-sm: 320px;

/**************************************************
// ███╗   ███╗██████╗     ███╗   ███╗██╗██╗  ██╗██╗███╗   ██╗███████╗
// ████╗ ████║██╔══██╗    ████╗ ████║██║╚██╗██╔╝██║████╗  ██║██╔════╝
// ██╔████╔██║██║  ██║    ██╔████╔██║██║ ╚███╔╝ ██║██╔██╗ ██║███████╗
// ██║╚██╔╝██║██║  ██║    ██║╚██╔╝██║██║ ██╔██╗ ██║██║╚██╗██║╚════██║
// ██║ ╚═╝ ██║██████╔╝    ██║ ╚═╝ ██║██║██╔╝ ██╗██║██║ ╚████║███████║
// ╚═╝     ╚═╝╚═════╝     ╚═╝     ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
// 1. Media Queries mixins depending on breakpoints
**************************************************/
@mixin bp($breakpointMin, $breakpointMax:"") {
	@if $breakpointMax != "" {
		@media (min-width: $breakpointMin) and (max-width: $breakpointMax){ @content; }
	} @else {
		@media (min-width: $breakpointMin) { @content; }
	}
}