*{
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	@include font(16, 22);
	font-family: $OpenSans;
	background-color: $white;
}

strong{
	font-weight: 700;
}

a{
	color: inherit;
}

p{
	
}

img{
	max-width: 100%;
	height: auto;
}


@mixin bgPicture(){
	
	position: relative;

	overflow: hidden;

	& img{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		width: auto;
		max-width: none;
		height: 100%;
		object-fit: cover;
		transform: translate(-50%,-50%);
		z-index: -1;
	}
}

.bg--picture{
	@include bgPicture();
}