<app-header></app-header>
<app-symbols></app-symbols>

<main id="dashboard" role="main">

  <section class="dashboard">

    <div class="dashboard--wrap">

      <nav class="dashboard--nav">
        <ul class="dashboard--nav-items">
          <li class="dashboard--nav-item"><a href="040.dashboard-skipper.html"><svg class="icon icon-dashboard"><use xlink:href="#icon-dashboard"></use></svg> Tableau de bord</a></li>
          <li class="dashboard--nav-item"><a href="041.dashboard-skipper-informations.html"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg> Mes informations</a></li>
          <li class="dashboard--nav-item active"><a href="042.dashboard-skipper-cv.html"><svg class="icon icon-cv"><use xlink:href="#icon-cv"></use></svg> Mon CV nautique</a></li>
          <li class="dashboard--nav-item"><a href="043.dashboard-skipper-availability.html"><svg class="icon icon-availability"><use xlink:href="#icon-availability"></use></svg> Mes disponibilités</a></li>
          <li class="dashboard--nav-item"><a href="044.dashboard-skipper-payments.html"><svg class="icon icon-payment"><use xlink:href="#icon-payment"></use></svg> Mes paiements</a></li>
          <li class="dashboard--nav-item"><a href="045.dashboard-skipper-opportunities.html"><svg class="icon icon-anchor"><use xlink:href="#icon-anchor"></use></svg> Mes opportunités</a></li>
        </ul>
      </nav>

      <div class="dashboard--content">

        <div class="dashboard--section">
          <h2 class="dashboard--section-title">Mon CV</h2>

        </div>
      </div>

    </div>

  </section>

</main>

<app-footer></app-footer>
