.section--reassurance{
    //position: relative;
    overflow: hidden;
}

.section--reassurance-wrap{
    position: relative;
    width: 100%;
    max-width: $gridWidth;
    margin: 115px auto 0;
    padding: 0 0 40px;
    background-color: $grey-lt;
}


.section--reglementation{
    //position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;

    @include bp($tablet-sm){
        flex-direction: row;
        align-items: flex-end;
        padding: 0;

        &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 55%;
            background-color: $white;
            z-index: 1;
    
        }

    }
}

.section--reglementation-content{
    position: relative;
    max-width: 620px;
    padding: 35px;
    background: #ffffff;
    @include shadow();
    z-index: 2;

    & .section--subtitle{
        padding-top: 65px;
    }

    & h2{
        padding-bottom: 0;
    }

    @include bp($tablet-sm){
        padding: 45px 110px 45px 50px;
    }
    
}

.section--reglementation-images{
    position: relative;
    z-index: 2;

    & img{
        display: block;
    }

    & img + img{
        position: relative;
        top: -10px;
        margin-left: auto;
        margin-right: 0;

        @include bp($tablet-sm){
            top: 0;
            margin-left: 200px;
        }
    }

}

.section--reglementation{
    //position: absolute;
    max-width: 1035px;
    margin: 0 auto;
}

.section--partenaires{
    max-width: 1035px;
    margin: 60px auto 0;
    padding: 0 25px;

    @include bp($tablet-sm){
        padding: 0;
    }
}

.section--partenaires-blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.section--partenaires-block{
    width: 25%;
    margin: 10px auto;
    text-align: center;
}