/**************************************************
// ██╗ ██████╗ ██████╗ ███╗   ██╗███████╗
// ██║██╔════╝██╔═══██╗████╗  ██║██╔════╝
// ██║██║     ██║   ██║██╔██╗ ██║███████╗
// ██║██║     ██║   ██║██║╚██╗██║╚════██║
// ██║╚██████╗╚██████╔╝██║ ╚████║███████║
// ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
**************************************************/
$icon: 24 24 0;

@mixin icon($width: nth($icon, 1), $height: nth($icon, 2), $topOffset: nth($icon, 3)) {
	position: relative;
	@if $topOffset != 0 {
	margin-top: #{$topOffset}px;
	}
	max-width: #{$width}px;
	max-height: #{$height}px;
}